In [1]:
# Dependencies
import requests
import json
import pandas as pd

# Google developer API key
from config import gkey
# Target city
target_city = "Boise, Idaho"

# Build the endpoint URL
target_url = "https://maps.googleapis.com/maps/api/geocode/json?" \
    "address=%s&key=%s" % (target_city, gkey)
    
target_url

'https://maps.googleapis.com/maps/api/geocode/json?address=Boise, Idaho&key=AIzaSyA94VUT9AvV5O6qAOQsoC9ewcnamXMHz3k'

In [2]:
data = requests.get(target_url).json()

In [3]:
data.keys()

dict_keys(['results', 'status'])

In [4]:
data['results'][0]['geometry']['location']['lat']

43.6150186

In [5]:
data['results'][0]['geometry']['location']['lng']

-116.2023137

In [6]:
cities = ["Olympia, Washington","Salem, Oregon", "Sacramento, California","Columbus, Ohio", "Lincoln, Nebraska","Denver, Colorado", "Lansing, Michigan","Boston, Massachusetts", "Tallahassee, Florida","Austin, Texas", "Oklahoma City, Oklahoma","Honolulu, Hawaii", "Juneau, Alaska","Salt Lake City, Utah", "Santa Fe, New Mexico","Bismarck, North Dakota", "Pierre, South Dakota","Charleston, West Virginia", "Richmond, Virginia","Trenton, New Jersey","Saint Paul, Minnesota","Springfield, Illinois","Indianapolis, Indiana","Frankfort, Kentucky", "Nashville, Tennessee","Atlanta, Georgia", "Montgomery, Alabama","Jackson, Mississippi", "Raleigh, North Carolina","Columbia, South Carolina", "Augusta, Maine","Montpelier, Vermont", "Concord, New Hampshire","Hartford, Connecticut", "Providence, Rhode Island","Cheyenne, Wyoming", "Helena, Montana","Topeka, Kansas", "Des Moines, Iowa","Harrisburg, Pennsylvania", "Annapolis, Maryland","Jefferson City, Missouri", "Phoenix, Arizona","Carson City, Nevada", "Albany, New York","Madison, Wisconsin", "Dover, Delaware","Boise, Idaho", "Little Rock, Arkansas","Baton Rouge, Louisiana"]
lat = []
long = []

In [7]:
for x in cities:
    url = "https://maps.googleapis.com/maps/api/geocode/json?" \
    "address=%s&key=%s" % (x, gkey)
    data1 = requests.get(url).json()
    lat.append(data1['results'][0]['geometry']['location']['lat'])
    long.append(data1['results'][0]['geometry']['location']['lng'])

In [8]:
import pandas as pd
df = pd.DataFrame(cities)
df.head(1)

                     0
0  Olympia, Washington

In [9]:
df.columns = ['capital_cities']

In [10]:
df.head(1)

        capital_cities
0  Olympia, Washington

In [11]:
latitude = pd.Series(lat)
df['latitude'] = latitude
longitude = pd.Series(long)
df['longitude'] = longitude

In [12]:
df.head()

           capital_cities   latitude   longitude
0     Olympia, Washington  47.037874 -122.900695
1           Salem, Oregon  44.942898 -123.035096
2  Sacramento, California  38.581572 -121.494400
3          Columbus, Ohio  39.961176  -82.998794
4       Lincoln, Nebraska  40.813616  -96.702596

In [13]:
df['capital_cities'][0].split(',')[-1]

' Washington'

In [14]:
df['state'] = df['capital_cities'].map(lambda x: x.split(',')[-1])

In [15]:
df['state'] = df['state'].str.strip()

In [16]:
df.head()

           capital_cities   latitude   longitude       state
0     Olympia, Washington  47.037874 -122.900695  Washington
1           Salem, Oregon  44.942898 -123.035096      Oregon
2  Sacramento, California  38.581572 -121.494400  California
3          Columbus, Ohio  39.961176  -82.998794        Ohio
4       Lincoln, Nebraska  40.813616  -96.702596    Nebraska

In [17]:
#join this with us_population dataset
#geomap population each year column on the location of the capital city to show increase in population

In [18]:
df1 = pd.read_csv('us_population.csv')
df1.head()

,state,1950,1960,1970,1980,1990,2000,2010
0,United States,"150,697,361","179,323,175","203,211,926","226,545,805","248,709,873","281,421,906","308,745,538"
1,California,"10,586,223","15,717,204","19,953,134","23,667,902","29,760,021","33,871,648","37,253,956"
2,Texas,"7,711,194","9,579,677","11,196,730","14,229,191","16,986,510","20,851,820","25,145,561"
3,New York,"14,830,192","16,782,304","18,236,967","17,558,072","17,990,455","18,976,457","19,378,102"
4,Florida,"2,771,305","4,951,560","6,789,443","9,746,324","12,937,926","15,982,378","18,801,310"

In [19]:
df2 = pd.merge(df, df1, on='state')
df2.head()

,capital_cities,latitude,longitude,state,1950,1960,1970,1980,1990,2000,2010
0,"Olympia, Washington",47.037874,-122.900695,Washington,"2,378,963","2,853,214","3,409,169","4,132,156","4,866,692","5,894,121","6,724,540"
1,"Salem, Oregon",44.942898,-123.035096,Oregon,"1,521,341","1,768,687","2,091,385","2,633,105","2,842,321","3,421,399","3,831,074"
2,"Sacramento, California",38.581572,-121.494400,California,"10,586,223","15,717,204","19,953,134","23,667,902","29,760,021","33,871,648","37,253,956"
3,"Columbus, Ohio",39.961176,-82.998794,Ohio,"7,946,627","9,706,397","10,652,017","10,797,630","10,847,115","11,353,140","11,536,504"
4,"Lincoln, Nebraska",40.813616,-96.702596,Nebraska,"1,325,510","1,411,330","1,483,493","1,569,825","1,578,385","1,711,263","1,826,341"

In [21]:
int(df2.iloc[0]['1990'].replace(',', ''))

4866692

In [27]:
#create function to convert population (string) to integer so we can use it in heatmap
def convert_pop_to_int(string_pop):
    return int(string_pop.replace(',', ''))

In [23]:
df2['1950'] = df2['1950'].map(convert_pop_to_int)
df2['1960'] = df2['1960'].map(convert_pop_to_int)
df2['1970'] = df2['1970'].map(convert_pop_to_int)
df2['1980'] = df2['1980'].map(convert_pop_to_int)
df2['1990'] = df2['1990'].map(convert_pop_to_int)
df2['2000'] = df2['2000'].map(convert_pop_to_int)
df2['2010'] = df2['2010'].map(convert_pop_to_int)

In [30]:
type(df2.iloc[0]['1980'])

numpy.int64

In [8]:
import gmaps
gmaps.configure(api_key = gkey)

In [14]:
locations = df2[["latitude", "longitude"]]
rating_1950 = df2['1950'].values

In [5]:
df2.to_pickle('df2.p')

In [4]:
df2 = pd.read_pickle('df2.p')

In [48]:
# Plot Heatmap for 1950
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating_1950, 
                                 dissipating=False, point_radius=3, max_intensity=38000000)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
rating_1960 = df2['1960'].values

# Plot Heatmap for 1960
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating_1960, 
                                 dissipating=False, point_radius=3, max_intensity=38000000)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
rating_1970 = df2['1970'].values

# Plot Heatmap for 1970
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating_1970, 
                                 dissipating=False, point_radius=3, max_intensity=38000000)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
rating_1980 = df2['1980'].values

# Plot Heatmap for 1980
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating_1980, 
                                 dissipating=False, point_radius=3, max_intensity=38000000)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
rating_1990 = df2['1990'].values

# Plot Heatmap for 1990
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating_1990, 
                                 dissipating=False, point_radius=3, max_intensity=38000000)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
rating_2000 = df2['2000'].values

# Plot Heatmap for 2000
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating_2000, 
                                 dissipating=False, point_radius=3, max_intensity=38000000)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
rating_2010 = df2['2010'].values

# Plot Heatmap for 2010
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating_2010, 
                                 dissipating=False, point_radius=3, max_intensity=38000000)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))