In [9]:
# Dependencies
import requests
import json
import pandas as pd

# Google developer API key
from config import gkey
# Target city
target_city = "Boise, Idaho"

# Build the endpoint URL
target_url = "https://maps.googleapis.com/maps/api/geocode/json?" \
    "address=%s&key=%s" % (target_city, gkey)
    
target_url

'https://maps.googleapis.com/maps/api/geocode/json?address=Boise, Idaho&key=AIzaSyA94VUT9AvV5O6qAOQsoC9ewcnamXMHz3k'

In [10]:
data = requests.get(target_url).json()

In [11]:
data.keys()

dict_keys(['results', 'status'])

In [12]:
data['results'][0]['geometry']['location']['lat']

43.6150186

In [13]:
data['results'][0]['geometry']['location']['lng']

-116.2023137

In [14]:
cities = ["Olympia, Washington","Salem, Oregon", "Sacramento, California","Columbus, Ohio", "Lincoln, Nebraska","Denver, Colorado", "Lansing, Michigan","Boston, Massachusetts", "Tallahassee, Florida","Austin, Texas", "Oklahoma City, Oklahoma","Honolulu, Hawaii", "Juneau, Alaska","Salt Lake City, Utah", "Santa Fe, New Mexico","Bismarck, North Dakota", "Pierre, South Dakota","Charleston, West Virginia", "Richmond, Virginia","Trenton, New Jersey","Saint Paul, Minnesota","Springfield, Illinois","Indianapolis, Indiana","Frankfort, Kentucky", "Nashville, Tennessee","Atlanta, Georgia", "Montgomery, Alabama","Jackson, Mississippi", "Raleigh, North Carolina","Columbia, South Carolina", "Augusta, Maine","Montpelier, Vermont", "Concord, New Hampshire","Hartford, Connecticut", "Providence, Rhode Island","Cheyenne, Wyoming", "Helena, Montana","Topeka, Kansas", "Des Moines, Iowa","Harrisburg, Pennsylvania", "Annapolis, Maryland","Jefferson City, Missouri", "Phoenix, Arizona","Carson City, Nevada", "Albany, New York","Madison, Wisconsin", "Dover, Delaware","Boise, Idaho", "Little Rock, Arkansas","Baton Rouge, Louisiana"]
lat = []
long = []

In [15]:
for x in cities:
    url = "https://maps.googleapis.com/maps/api/geocode/json?" \
    "address=%s&key=%s" % (x, gkey)
    data1 = requests.get(url).json()
    lat.append(data1['results'][0]['geometry']['location']['lat'])
    long.append(data1['results'][0]['geometry']['location']['lng'])

In [17]:
import pandas as pd
df = pd.DataFrame(cities)
df.head(1)

                     0
0  Olympia, Washington

In [18]:
df.columns = ['capital_cities']

In [19]:
df.head(1)

        capital_cities
0  Olympia, Washington

In [20]:
latitude = pd.Series(lat)
df['latitude'] = latitude
longitude = pd.Series(long)
df['longitude'] = longitude

In [21]:
df.head()

           capital_cities   latitude   longitude
0     Olympia, Washington  47.037874 -122.900695
1           Salem, Oregon  44.942898 -123.035096
2  Sacramento, California  38.581572 -121.494400
3          Columbus, Ohio  39.961176  -82.998794
4       Lincoln, Nebraska  40.813616  -96.702596

In [22]:
#df1 = df = pd.read_csv('GlobalLandTempByState.csv')

In [23]:
# us_mask = df['Country'] == 'United States'
# us_df = df[us_mask].copy()
# us_df.head()